:root {
  --white: hsl(0, 0%, 100%);
  --purple-700: hsl(236, 21%, 26%);
  --purple-800: hsl(235, 16%, 14%);
  --purple-900: hsl(234, 17%, 12%);
  --lavender-300: hsl(237, 18%, 59%);
  --pink-100: hsl(345, 95%, 68%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 14px;
  color: var(--white);
}

h1,
p {
  text-transform: uppercase;
  letter-spacing: 4px;
}

h1 {
  font-size: 1.25rem;
  margin-bottom: 3rem;
}
p {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--lavender-300);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-image: url(./assets/images/bg-stars.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, var(--purple-900), var(--purple-800));
  z-index: -1;
}
.countdown-container {
  display: flex;
  min-height: 20vh;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1.25rem;
}

.card {
  perspective: 1000px;
  width: 8.75rem;
  height: 8.75rem;
  position: relative;
}

.inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  box-shadow: 0 10px 0 #191a24;
  border-radius: 8px;
}
.inner.flip {
  transform: rotateX(-180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  background: var(--purple-700);
  color: var(--pink-100);
  border-radius: 8px;
  box-shadow: 0 10px 0 #191a24;
}

.face::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.face::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 8px;
}
.face .divider {
  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;
  height: 1px;

  background: rgba(0, 0, 0, 0.3);
}
.face .divider::before,
.face .divider::after {
  content: "";

  position: absolute;
  top: 50%;

  width: 10px;
  height: 10px;

  background: #191a24;

  z-index: 99;

  transform: translateY(-50%);
}

.face .divider::before {
  left: -2px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.face .divider::after {
  right: -2px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.back {
  transform: rotateX(180deg);
}

footer {
  background-image: url(./assets/images/pattern-hills.svg);
  display: flex;
  height: 20vh;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  i {
    font-size: 1.2rem;
    color: var(--lavender-300);
    &:hover {
      color: var(--pink-100);
    }
  }
}
